<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MoneyManagerDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MoneyManagerDesktop.Properties.Settings>
            <setting name="StyleColorID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ThemeColorID" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SQLStringConnection" serializeAs="String">
                <value />
            </setting>
        </MoneyManagerDesktop.Properties.Settings>
    </userSettings>
</configuration>